.btn-facebook{
	background-color: #3b5998;
	color:white;
}

.btn{
	width:30%;
	display: block !important;
	margin-bottom: 10px !important;
}

.btn-twitter{
	background-color: #0084b4;
	color:white;
}

.btn-google{
	background-color: #d34836;
	color:white;
}

.btn-instagram{
	background-color: #8a3ab9;
	color:white;
}
.sign-in-options{
	margin-top: 15%;
}
.compose-raffle-tweet{
	 border: 4px solid #0084b4;
    border-radius: 10px;
    width: 60%;

}
.twitter-profile-pic{
	display: inline;
	}
.twitter-dp{
	width:10%;
}
.compose-tweet{
	margin-top: 10%;
}
.common-btn{
	width:8%;
	display: block !important;
	text-align :center;
}